<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxed2c734830ae4364975ef11e67a76e81"></script>
    <script src="/js/map.js"></script>
  </head>

  <body onload="initTmap();">
    <div class="title_wrap">
      <h2>그누맵</h2>
      <span class="material-icons setting_icon">settings</span>
    </div>

    <form action="/find" method="POST">
      <input
        type="text"
        class="search"
        name="num"
        placeholder="건물번호(건물명), 학과 입력"
      />
      <!-- <input type="hidden" name="lat" id="lat" />
      <input type="hidden" name="lng" id="lng" /> -->
    </form>
    <div class="history-items">
      <span class="history-title">History</span>
      <span class="history-item">30동</span>
      <span class="history-item">컴퓨터과학관</span>
      <span class="history-item">도서관</span>
      <span class="history-item">교양학관</span>
    </div>

    <div class="menu-title">즐겨찾기</div>

    <div class="favorite-items">
      <img src="/img/도서관.jpeg" alt="" class="favorite-item" />
      <img src="/img/도서관.jpeg" alt="" class="favorite-item" />
      <img src="/img/도서관.jpeg" alt="" class="favorite-item" />
      <img src="/img/도서관.jpeg" alt="" class="favorite-item" />
    </div>

    <div class="menu-title">편의시설</div>

    <div class="convenient-wrap">
      <div class="convenient-items">
        <div class="convenient-item">
          <a href="/convenience">
            <img
              src="/img/convenient/convenientstore.jpg"
              class="convenient-img"
              alt=""
          /></a>
          <span>편의점</span>
        </div>

        <div class="convenient-item">
          <img src="/img/convenient/atm.jpg" class="convenient-img" alt="" />
          <span>ATM</span>
        </div>

        <div class="convenient-item">
          <img
            src="/img/convenient/postoffice.jpg"
            class="convenient-img"
            alt=""
          />
          <span>우체국</span>
        </div>

        <div class="convenient-item">
          <img
            src="/img/convenient/stationary.jpg"
            class="convenient-img"
            alt=""
          />
          <span>문구점</span>
        </div>

        <div class="convenient-item">
          <img src="/img/convenient/aed.jpg" class="convenient-img" alt="" />
          <span>AED</span>
        </div>
      </div>

      <div class="convenient-items">
        <div class="convenient-item">
          <img
            src="/img/convenient/strawberry.jpg"
            class="convenient-img"
            alt=""
          />
          <span>딸기방</span>
        </div>

        <div class="convenient-item">
          <img
            src="/img/convenient/cafeteria.jpg"
            class="convenient-img"
            alt=""
          />
          <span>식당</span>
        </div>

        <div class="convenient-item">
          <img
            src="/img/convenient/printer.jpg"
            class="convenient-img"
            alt=""
          />
          <span>프린터</span>
        </div>

        <div class="convenient-item">
          <img src="/img/convenient/cafe.jpg" class="convenient-img" alt="" />
          <span>카페</span>
        </div>

        <div class="convenient-item">
          <img src="/img/convenient/blood.jpg" class="convenient-img" alt="" />
          <span>헌혈의집</span>
        </div>
      </div>
    </div>
    <div class="menu-title">GNU MAP</div>

    <div id="map_wrap" class="map_wrap3">
      <div class="map_div"><div id="map_div"></div></div>
    </div>
  </body>
</html>
