<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" type="text/css" href="/public/css/convenient.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="#" class="page-move">&lt; 메인</a>
      <div class="page-title">편의시설</div>
    </header>

    <div class="intro-wrap">
      <img src="/public/img/convenient/convenientstore.jpg" class="intro-img" />
      <span class="intro-title">편의점</span>
    </div>

    <div class="convenient-list">
      <div class="convenient-info">
        <img src="/public/img/convenient/cu.jpg" />
        <div class="convenient-info-detail">
          <span class="convenient-title">CU 경상대 느티마루점</span>
          <span class="convenient-address"
            >경남 진주시 진주대로 501 경상대학교</span
          >
          <span class="convenient-distance">현재위치로부터 12m</span>
        </div>
      </div>

      <div class="convenient-info">
        <img src="/public/img/convenient/cu.jpg" />
        <div class="convenient-info-detail">
          <span class="convenient-title">GS25 경상대 생활관점</span>
          <span class="convenient-address"
            >경남 진주시 진주대로 501 경상대학교</span
          >
          <span class="convenient-distance">현재위치로부터 12m</span>
        </div>
      </div>
      <div class="convenient-info">
        <img src="/public/img/convenient/cu.jpg" />
        <div class="convenient-info-detail">
          <span class="convenient-title">CU 경상대 느티마루점</span>
          <span class="convenient-address"
            >경남 진주시 진주대로 501 경상대학교</span
          >
          <span class="convenient-distance">현재위치로부터 12m</span>
        </div>
       </div>
       <div class="convenient-info">
            <img src="/public/img/convenient/cu.jpg" />
            <div class="convenient-info-detail">
            <span class="convenient-title">CU 경상대 느티마루점</span>
            <span class="convenient-address"
                >경남 진주시 진주대로 501 경상대학교</span
            >
            <span class="convenient-distance">현재위치로부터 12m</span>
            </div>
        </div>
        <div class="convenient-info">
            <img src="/public/img/convenient/cu.jpg" />
            <div class="convenient-info-detail">
            <span class="convenient-title">CU 경상대 느티마루점</span>
            <span class="convenient-address"
                >경남 진주시 진주대로 501 경상대학교</span
            >
            <span class="convenient-distance">현재위치로부터 12m</span>
            </div>
        </div>
        <div class="convenient-info">
            <img src="/public/img/convenient/cu.jpg" />
            <div class="convenient-info-detail">
            <span class="convenient-title">CU 경상대 느티마루점</span>
            <span class="convenient-address"
                >경남 진주시 진주대로 501 경상대학교</span
            >
            <span class="convenient-distance">현재위치로부터 12m</span>
            </div>
        </div>
  </body>
</html>
