@font-face {
    font-family : 'AppleSDGothicNeoM';
    src: url('/fonts/AppleSDGothicNeoM.woff') format('woff');
  }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
}

h2{
    font-family : 'AppleSDGothicNeoM';
    font-weight: bold;
    font-size: 2.2rem;
    color: rgba(13, 13, 16, 0.69);
    margin : 0px;
}

.setting_icon{
  font-size: 2.2rem;
  color: rgba(13, 13, 16, 0.69);
}

.title_wrap{
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search{
  width: 97%;
  height: 4vh;
  padding-left: 3%;
  margin-left: -3px;
  margin-bottom: 5px;
  background-color: rgba(188, 188, 188, 0.54);
  border: none;
  border-radius: 15px;
}

.search::placeholder{
  font-family : 'AppleSDGothicNeoM';
  font-size: 0.9rem;
  color :  rgba(60, 60, 67, 0.6),
}

.history-items{
  height: 0.9vh;
  margin-left: 6px;
  margin-bottom: 15px;
}

.history-title{
  font-family : 'AppleSDGothicNeoM';
  font-weight: bold;
  color: rgba(0, 16, 72, 0.6);
  margin-right: 5px;
}

.history-item{
  font-family : 'AppleSDGothicNeoM';
  color: rgba(0, 16, 72, 0.6);
  margin-right: 3px;
  font-size: 0.9rem;
}

.menu-title{
  font-family : 'AppleSDGothicNeoM';
  font-size: 1.6rem;
  color: rgba(0, 16, 72, 0.6);
  height: 4.6vh;

}

.favorite-items{
  width: 100%;

  display: flex;
  overflow-x: scroll;
  margin-bottom: 15px;
}

.favorite-item{
  display: inline-block;
  flex: 0 0 auto;
  width: 5.5rem;
  height: 17vh;
  border-radius: 4rem;
  margin-right: 12px;
}

.convenient-wrap{
  margin-bottom: 10px;
}

.convenient-items{
  display: flex;
  justify-content: space-between;
}

.convenient-item{
  width: 4rem;
  height: 5.3rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family : 'AppleSDGothicNeoM';
  font-size: 0.8rem;
}
.convenient-img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

